
.apresentacao{
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(29, 28, 32, 0.9);
  justify-content: center;
  position: relative;
}

.apresentacao h1{
  font-size: 35px;
  font-family: var(--fontTipo1), sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: var(--lightCyan);
  display: flex;
  margin: 30px;
  text-transform: uppercase;
  place-self: center;
  padding: 5px 25px 25px 25px;
  position: relative;
  cursor: pointer;
  border-radius: 40px;
  transition: text-shadow 0.4s;
  -webkit-text-stroke: 1px transparent;
}

.apresentacao h1:hover{
  color: white;
  text-shadow:
    1px 0px 8px var(--gainsboro);
    -o-transition: all 0.4;
}

.apresentacao h1::after{
  content: 'Desenvolvedor Front-End';
  font-size: 12px;
  position: absolute;
  top: 50px;
}

.titulo-conteudo{
  padding: 10px;
  margin-left: 45px;
  position: relative;
  color: var(--gainsboro);
  font-family: var(--fontTipo1), sans-serif;
}

.titulo-conteudo::before{
  content: '';
  width: 20px;
  height: 10px;
  background-color: var(--midnightblue);
  position: absolute;
  top: 20px;
  left: -25px;
}

.conteudo-apresentacao{
  margin: 0 auto;
  place-self: center;
  padding: 30px;
  grid-column: 1;
}

.conteudo-apresentacao p{
  color: var(--gainsboro);
  font-family: var(--fontTipo1), sans-serif;
  letter-spacing: 0.091rem;
  line-height: 1.2rem;
  max-width: 48ch;
}

.imagem{
  background-color: var(--midnightblue);
  border-radius: 1200px 50px 100px 125px;
  width: 500px;
  height: 80%;
  place-self: center;
  grid-column: 2;
}

.imagem-container img{
  max-width: 100%;
  border-radius: 125px 250px 180px 275px;
  padding-left: 80px;
  padding-bottom: 100px;
  object-fit: cover;
  transition: transform 0.2s;
}

.imagem-container img:hover{
  transform: scale(1.08);
}

.popup{
  display: none;
  position: absolute;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.94);
  border-radius: 12px;
  margin-left: 35%;
}

.titulo-popup{
  color: aliceblue;
  font-family: var(--fontTipo1);
  padding: 25px 65px;
  font-size: 24px;
}

.informacao{
  color: var(--gainsboro);
  list-style: none;
  letter-spacing: 0.1rem;
  padding: 15px 35px;
  line-height: 1.8rem;
  font-family: var(--fontTipo1);
  transition: border-bottom 0.3s;
}

.informacao a{
  text-decoration: none;
  color: var(--gainsboro);
  cursor: pointer;
}

.semmargin {
  margin-left: 0;
}

.commargin{
  margin-left: 45px;
  position: relative;
}

.commargin::before{
  content: '';
  width: 20px;
  height: 10px;
  background-color: var(--midnightblue);
  position: absolute;
  top: 7px;
  left: -35px;
}

.informacao a:hover{
  text-decoration: underline;
}

.botao-container{
  display: flex;
  justify-content: end;
  padding: 45px;
}

.botao-popup{
  color: var(--gainsboro);
  background-color: var(--midnightblue);
  font-family: var(--fontTipo1);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
}

.botao-popup:hover{
  background-color: var(--gainsboro);
  color: var(--midnightblue);
}

@keyframes movimento {
  from {width: 0; height: 0; opacity: 0;}
  to {width: 500px; height: 500px; opacity: 1;}
}

.ativo{
  display: block;
  animation: movimento 1s;
}