
.apresentacao{
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(29, 28, 32, 0.9);
  justify-content: center;
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> fb9255c37eb58924764887ffce21a161ce4bf7f3
}

.apresentacao h1{
  font-size: 35px;
  font-family: var(--fontTipo1), sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: var(--lightCyan);
  display: flex;
  margin-left: -30px;
  text-transform: uppercase;
  place-self: center;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
<<<<<<< HEAD
=======
  cursor: pointer;
  transition: font-weight 0.3s;
}

.apresentacao h1:hover{
  font-weight: bold;
>>>>>>> fb9255c37eb58924764887ffce21a161ce4bf7f3
}

.apresentacao h1::after{
  content: 'Desenvolvedor Front-End';
  font-size: 12px;
  position: absolute;
  top: 50px;
}

.titulo-conteudo{
  padding: 10px;
  margin-left: 45px;
  position: relative;
  color: var(--gainsboro);
  font-family: var(--fontTipo1), sans-serif;
}

.titulo-conteudo::before{
  content: '';
  width: 20px;
  height: 10px;
  background-color: var(--midnightblue);
  position: absolute;
  top: 20px;
  left: -25px;
}

.conteudo-apresentacao{
  margin: 0 auto;
  place-self: center;
  padding: 30px;
  grid-column: 1;
}

.conteudo-apresentacao p{
  color: var(--gainsboro);
  font-family: var(--fontTipo1), sans-serif;
  letter-spacing: 0.091rem;
  line-height: 1.2rem;
  max-width: 48ch;
}

.imagem{
  background-color: var(--midnightblue);
  border-radius: 1200px 50px 100px 125px;
  width: 500px;
  height: 80%;
  place-self: center;
  grid-column: 2;
}

.imagem-container img{
  max-width: 100%;
  border-radius: 125px 250px 180px 275px;
  padding-left: 80px;
  padding-bottom: 100px;
  object-fit: cover;
  transition: transform 0.2s;
}

.imagem-container img:hover{
  transform: scale(1.08);
<<<<<<< HEAD
=======
}

.popup{
  display: none;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  margin-left: 35%;
}

.titulo-popup{
  color: aliceblue;
  font-family: var(--fontTipo1);
  padding: 30px;
  font-size: 24px;
}

.descricao-popup{
  color: aliceblue;
  width: 28ch;
  padding: 0 0 0 40px;
}

.botao-popup{
  color: var(--gainsboro);
  background-color: var(--midnightblue);
  width: 15px;
  height: 15px;
  font-family: var(--fontTipo1);
  text-transform: uppercase;
  padding: 10px;
  border-radius: 20px;
}

.ativo{
  display: block;
  transform: scale(1);
>>>>>>> fb9255c37eb58924764887ffce21a161ce4bf7f3
}