#experiencia{
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
  background-color: rgba(29, 28, 32, 0.9);
  text-align: center;
}



.titulo-experiencia{
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 45px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  width: 75%;
  margin: 0 auto 30px auto;
  font-family: var(--fontTipo1);
  color: var(--lightCyan);
}

.lista-experiencia{
  width: 45ch;
  display: inline;
}

.empresa-experiencia{
  color: var(--lightCyan);
  font-size: 1.8rem;
  font-family: var(--fontTipo1);
}

.descricao-experiencia{
  color: var(--lightCyan);
  font-size: 1.1rem;
  font-family: var(--fontTipo1);
  max-width: 45ch;
}