#experiencia{
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
  background-color: rgba(29, 28, 32, 0.9);
}

.lista-experiencia{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 45px;
}

.lista-container{
  text-align: right;
  cursor: pointer;
}

.lista-container:nth-child(even),
.descricao-experiencia:nth-child(odd){
  text-align: left;
}

.descricao-experiencia{
  /* display: none; */
}

.ativo .descricao-experiencia{
  display: block;
}


.titulo-experiencia{
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 45px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  width: 75%;
  margin: 0 auto 30px auto;
  font-family: var(--fontTipo1);
  color: var(--lightCyan);
}

.empresa-experiencia{
  color: var(--lightCyan);
  font-size: 1.8rem;
  font-family: var(--fontTipo1);
}

.descricao-experiencia{
  color: var(--lightCyan);
  font-size: 1.1rem;
  font-family: var(--fontTipo1);
}
