
.habilidades{
  max-width: 1600px;
  margin: 0 auto;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.titulo-habilidades{
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 45px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  width: 75%;
  margin: 0 auto 30px auto;
  font-family: var(--fontTipo1);
}

.lista-habilidades{
  width: 1400px;
  margin: 0px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.titulo-principal{
  margin-top: 15px;
}

.lista-hab-li{
  text-decoration: none;
  list-style: none;
  margin: 25px;
  padding: 15px;
  flex: 1;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.principal{
  font-family: var(--fontTipo1);
}

.secundario{
  display: none;
  font-family: var(--fontTipo1);
}

.lista-hab-li:hover{
  display: inline;
  flex: 3;
  background-color: rgba(0, 0, 63, 0.815);
  color: var(--azure);
}

.lista-hab-li:hover img{
  display: flex;
}

.lista-hab-li:hover .secundario{
  position: absolute;
  display: block;
  right: 32px;
  top: 20px;
}

.lista-hab-li:hover .secundario h5{
  font-size: 16px;
  margin-bottom: 25px;
}

.lista-hab-li:hover .principal h4{
  display: none;
}

.mostrar{
  opacity: 1;
  transition: opacity .3s linear;
}


@media screen and (width < 1200px) {

  .habilidades{
    display: block;
    width: 100vw;
    height: auto;
  }

  .titulo-habilidades{
    font-size: 1.7rem;
    padding-top: 12px;
    margin-bottom: 7px;
  }

  .lista-habilidades{
    display: block;
    width: 100vw;
  }

  .lista-hab-li{
    display: block;
    width: 60vw;
    margin: 0 auto;
    padding: 12px;
  }

  .principal img{
    display: none;
  }

  .lista-hab-li:hover{
    width: 100%;
    color: var(--azure);
    display: flex;
    height: auto;
    padding: 30px;
    margin: 15px 0;
  }

  .lista-hab-li:hover img{
    opacity: 0.2;
  }

  .lista-hab-li:hover ~ .secundario{
    display: block;
    font-family: var(--fontTipo1);
    padding: 15px;
  }

  .desc li{
    list-style: none;
  }

}

