*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.header{
  display: flex;
  max-width: 1600px;
  margin: 20px auto 0 auto;
  /* height: 100px; */
  background-color: rgba(29, 28, 32, 0.9);

}

.titulo-header{
  color: var(--lightCyan);
  font-family: var(--fontTipo1);
  place-self: center;
  width: 100%;
  padding-left: 30px;
}


.lista-header{
  gap: 20px;
  display: flex;
  padding: 30px;

}

.links{
  display: flex;
  text-decoration: none;
  list-style: none;
  color: var(--lightCyan);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: all 0.6s;
  border: 1px solid transparent;
  border-radius: 10px;
  font-family: var(--fontTipo1);
}

.links:hover{
  border: 1px solid #F5FFFA;
  border-radius: 20px;
  cursor: pointer;
  padding: 15px 30px;
  background-color: #F5FFFA;
  color: var(--grey11);
}

.links a:link,
.links a:active,
.links a:visited{
  color: inherit;
}

.header span{
  display: none;
}

.ativo{
  display: block;
}


@media screen and (width < 1200px) {

  .header{
    max-height: 130px;
    margin: 0;
  }

  .header span{
    display: block;
    color: var(--lightCyan);
    font-family: var(--fontTipo1);
    padding: 10px;
  }

  .header span:focus ~ .lista-header{
    display: block;
  }

  .titulo-header{
    font-size: 1rem;
    padding: 8px;
  }

  .lista-header{
    padding: 0;
    gap: 0;
    display: none;
  }

  .lista-header li{
    font-size: 10px;
    display: block;
  }


  
}