
:root{
  --background-secao-2: #FAFAFA;
  --cor-quadrado-secao-2: #6C717A;
  --cor-botao: #ED931F;
  --cor-metade-background-secao-3: #93B5C4;
  --cor-background-escuro: #663898;
  --cor-background-verde: #9BCB6C;
  --cor-faixa-header-footer: #000000;


  --font-principal: 'Libre Baskerville', serif;
  --font-secundaria: 'Open Sans', sans-serif;
}




