@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap');


:root{
  --background-secao-2: ;
  --cor-quadrado-secao-2: #6C717A;
  --cor-botao: #ED931F;
  --cor-metade-background-secao-3: #93B5C4;
  --cor-background-escuro: #663898;
  --cor-background-verde: #9BCB6C;
  --cor-faixa-header-footer: #000000;
  --cor-background-footer: rgb(240,233,233);


  --font-principal: 'Libre Baskerville', serif;
  --font-secundaria: 'Open Sans', sans-serif;

  --font-teste: 'Bitter', serif;
}


*{
  padding: 0;
  margin: 0;
  font-family: var(--font-secundaria);
}

.botao{
  padding: 20px 50px;
  text-decoration: none;
  color: #fff;
  background-color: var(--cor-botao);
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.botao:hover{
  cursor: pointer;
  filter: brightness(0.9);
}

a:active,
a:visited{
  color: inherit;
  text-decoration: none;
  color: #fff;
}

li{
  list-style: none;
}


