@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root{
  --gray--2: hsl(220, 100%, 1%);
  --gray--1: hsl(220, 82%, 2%); 
  --gray-0: hsl(210, 20%, 98%);
  --gray-1: hsl(220, 14%, 96%);
  --gray-2: hsl(220, 13%, 91%);
  --gray-3: hsl(216, 12%, 84%);
  --gray-4: hsl(218, 11%, 65%);
  --gray-5: hsl(220, 9%, 46%);
  --gray-6: hsl(215, 14%, 34%);
  --gray-7: hsl(217, 19%, 27%);
  --gray-8: hsl(215, 28%, 17%);
  --gray-9: hsl(221, 39%, 11%);
  --gray-10: hsl(224, 71%, 4%);


  --red--2: hsl(0, 88%, 3%);
  --red--1: hsl(0, 67%, 10%);
  --red-0: hsl(0, 86%, 97%);
  --red-1: hsl(0, 93%, 94%);
  --red-2: hsl(0, 96%, 89%);
  --red-3: hsl(0, 94%, 82%);
  --red-4: hsl(0, 91%, 71%);
  --red-5: hsl(0, 84%, 60%);
  --red-6: hsl(0, 72%, 51%);
  --red-7: hsl(0, 74%, 42%);
  --red-8: hsl(0, 70%, 35%);
  --red-9: hsl(0, 63%, 31%);
  --red-10: hsl(0, 75%, 15%);








  --background-secao-2: ;
  --cor-quadrado-secao-2: #6C717A;
  --cor-botao: #991b1b;
  --cor-metade-background-secao-3: #93B5C4;
  --cor-background-escuro: #663898;
  --cor-background-verde: #9BCB6C;
  --cor-faixa-header-footer: #000000;
  --cor-background-footer: rgb(240,233,233);


  --font-principal: 'Libre Baskerville', serif;
  --font-secundaria: 'Open Sans', sans-serif;

  /* --font-principal: 'Bitter', serif; */
  /* --font-principal: 'Cutive Mono', monospace; */
}

body{
  overflow-x: hidden !important;
}


*{
  padding: 0;
  margin: 0;
  font-family: var(--font-secundaria);
}

.botao{
  padding: 20px 50px;
  text-decoration: none;
  background-color: var(--cor-botao);
  border: none;
  color: var(--gray-1);
  text-transform: uppercase;
  font-weight: 600;
  transition: background 600ms ease-in;
}

.botao:hover{
  cursor: pointer;
  background: var(--gray-1);
  color: var(--cor-botao);
}

li{
  list-style: none;
}


