.habilidades{
  background-image: url('../img/habilidades.webp');
  background-size: cover;
  background-position: center;
  padding: 50px;
  padding-bottom: 150px;
}

.habilidades h2{
  color: var(--gray-1);
}

.lista{
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 8px auto;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}

.scroller{
  max-width: 700px;
  margin: 0 auto;
}

.scroller[data-animated='true']{
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
     transparent,
      white 20%,
      white 80%,
      );
  mask: linear-gradient(
    90deg, 
    transparent, 
    white 20%,
    white 80%,
    );
}

.scroller[data-animated='true'] .lista{
  padding: 15px;
  width: max-content;
  flex-wrap: nowrap;
  animation: 
  scroll 
  var(--_animation-duration, 15s)
  var(--_animation-direction, forwards)
  linear 
  infinite;
}

.scroller[data-direction='right']{
  --_animation-direction: reverse;
}

@keyframes scroll {
  to{
    transform: translate(calc(-50% - .5rem));
  }
}

.habilidades li{
  margin: 0 auto;
  box-shadow: 2px 2px 3px #333;
  padding: 10px 20px;
  border-radius: 10%;
  backdrop-filter: blur(3px);
}

.habilidades img{
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-top: 15px;
}

.habilidades h4{
  color: white;
  text-align: center;
}

@media screen and (width < 700px) {
  .lista{
    display: flex;
    width: 100%
  }

  .lista li{
    box-shadow: none;
    backdrop-filter: none;
  }

}


@media screen and (width < 350px) {
  .habilidades{
    padding: 10px;
    margin: 0;
  }
}
