.habilidades{
  background-image: url('../img/habilidades.webp');
  background-size: cover;
  background-position: center;
  padding: 50px;
  padding-bottom: 150px;
}

.habilidades h2{
  color: white;
}
.habilidades ul{
  display: flex;
  gap: 55px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 8px auto;
}

.habilidades li{
  margin: 0 auto;
}

.habilidades img{
  width: 64px;
}

.habilidades h4{
  color: white;
  text-align: center;
}
