
.telefone{
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 0;
  color: var(--cor-botao);
  text-align: right;
}

.telefone a{
  color: var(--cor-botao);
  text-decoration: none;
}

.telefone a::before{
  content: url('../img/icones/telefone.png');
  top: 3px;
  margin-left: -23px;
  position: absolute;
}

.telefone a{ 
  position: relative;
  margin: 0 21%;
}

.inicio{
  background: linear-gradient(rgba(237,147,31,0.3), rgba(0,0,0,0.6)), url('../img/background-header2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  background-attachment: fixed;
}

.principal{
  max-width: 1400px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 21%;
  height: 130px;
  z-index: 1;
  transition: all 600ms ease
}

.principal ul{
  display: flex;
  gap: 60px;
  opacity: 0;
  transition: all 600ms ease;
}

.principal li{  
  list-style: none;
  text-transform: uppercase;
  padding: 5px;
}

.linkMenu{
  background-color: transparent;
  text-decoration: none;
  width: 0;
  font-weight: 400;
  padding: 0;
  color: #fff;
  text-decoration: none;
  transition: color 200ms;
  font-family: var(--font-principal);
  letter-spacing: .2rem;
  position: relative;
}

.linkMenu:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -.3rem;
  left: 0;
  background-color: var(--cor-botao);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.linkMenu:hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#contatoMenu{
  color: #fff;
  text-decoration: none;
  transition: color 200ms;
  font-family: var(--font-principal);
  letter-spacing: .2rem;
  background-color: var(--cor-botao);
  padding: 15px;
  transition: background-color 600ms ease;
}

#contatoMenu:hover{
  background-color: #fff;
  color: var(--cor-botao);
}

.principal-titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 12rem 21%;
  position: relative;
  opacity: 0;
  transition: 600ms ease;
}

.principal-titulo h1{
  position: relative;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: var(--font-principal);
  line-height: 1.4em;
  letter-spacing: 0.3rem;
  font-weight: 300;
  text-align: center;
  margin: 2rem auto;
}

.principal-titulo span{
  font-family: var(--font-principal);
}

.principal-titulo h2{
  position: relative;
  width: 50%;
  color: rgba(255, 255, 255, 0.9);
  font-size: clamp(.3rem, 1rem, 3rem);
  margin: 45px 0;
  font-weight: 300;
  line-height: 3rem;
  text-align: center;
  margin: 0 auto 2rem;

}

.principal p{
  font-size: clamp(1.4rem, 3.7vw, 1.7rem);
  position: relative;
  z-index: 1;
  left: 15px;
  font-family: var(--font-principal);
  letter-spacing: .2rem;
  font-weight: 300;
}

.principal p::after{
  content: 'Desenvolvedor Front-End';
  font-size: clamp(.9rem, 2vw, 1rem);
  position: absolute;
  bottom: -15px;
  left: 0px;
}

.principal p::before{
  content: '';
  width: 105px;
  height: 95px;
  background-color: var(--cor-botao);
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -15px;
}

#botao{
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background 600ms ease-in;
}

@media screen and (width < 1500px) {

  .telefone a{
    margin: 0 15%;
  }

  .principal{
    margin: 0 15%;
  }
}



@media screen and (width < 1300px) {

  main{
    height: 107vh;
  }

  .telefone a{ 
    margin: 0 5%;
  }

  .principal {
    margin: 5%;
  }

  .principal-titulo{
    padding-top: 10px;
    margin: 50px 15%;
  }

  .principal-titulo h2{
    width: 100%;
  }

}

@media screen and (width <= 955px) {

  main{
    background-image: url('/img/android/background-main2.jpg');
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 43vh;
  }

  .principal-titulo h1{
    font-size: 32px;
  }
  
  .principal ul{
    font-size: 12px;
  }
}


@media screen and (width < 850px) {

  main{
    background-image: url('/img/android/background-main2.jpg');
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 50vh;
  }

  .principal-titulo h1{
    font-size: 32px;
  }
  
  .principal ul{
    gap: 12px;
    font-size: 12px;
  }

  .principal p::after{
    width: 15ch;
    top: 30px;
  }
}


@media screen and (width <= 769px) {
  .principal ul{
    display: none;
  }

  .telefone{
    text-align: center;
  }

  .botao-mobile{
    display: block;
    width: 35px;
    height: 4px;
    background-color: #fcd29c;
    /* border: 1px solid #c97f1e; */
    position: relative;
  }

  .botao-mobile::after{
    display: block;
    content: '';
    width: 35px;
    height: 4px;
    background-color: #fcd29c;
    position: absolute;
    top: 10px;
  }

  .botao-mobile::before{
    display: block;
    content: '';
    width: 35px;
    height: 4px;
    background-color: #fcd29c;
    position: absolute;
    top: -10px;
  }

  .principal p::after{
    width: 15ch;
    top: 25px;
  }
}

@media screen and (width < 448px) {

  .principal-titulo h2{
    width: 100%;
    text-align: left;
    line-height: 1.8;
  }

  .principal p::after{
    width: 15ch;
    top: 30px;
  }

  #botao{
    margin-bottom: 2rem;
  }
}