

.menu-mobile{
  position: absolute;
  background: rgba(97, 60, 12, 0.6);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  width: 70vw;
  height: 100vh;
  z-index: 3;
  right: 0;
  top: 37px;
  padding: 60px 0;

  transition: inset 400ms ease-out;
  inset: 37px 100%;

  box-shadow: 1px 1px 2px rgba(255, 255, 255, .6);
}


.menu-mobile p{
  color: #fff;
  font-weight: 700;
  font-family: var(--font-principal);
  letter-spacing: .14rem;
  padding-left: 30px;
}

.menu-mobile ul{
  display: block;
  margin: 15px;
}

.menu-mobile li{  
  list-style: none;
  text-transform: uppercase;
  padding: 15px;
}

.menu-mobile a{
  color: #fff;
  text-decoration: none;
  font-family: var(--font-principal);

}

.ativa-menu{
  inset: 37px 30%;
}

.viraBotaoMenu{
  transform: rotate(45deg);
  transition: transform 300ms;
  z-index: 4;
}

.viraBotaoMenu::before{
  transform: rotate(90deg);
  background-color: #fcd29c;
  top: 0;
}

.viraBotaoMenu::after{
  background-color: #fcd29c;
  top: 0;
}


@keyframes animaMenu{
  from{
    opacity: 0;
    transform: translateX(-100vw);
  }

  to{
    opacity: 1;
    transform: translateX(0vw);
  }
}




