

.menu-mobile{
  position: fixed;
  /* background: rgba(0,0,0,.95); */
  /* background: hsla(0 0% 0% / .75 ); */

  width: 70vw;
  /* height: 100vh; */
  z-index: 3;
  /* right: 0; */
  top: 37px;
  padding: 60px 0;

  transition: inset 400ms ease-out;
  inset: 0 -30% 0 0;

  /* box-shadow: 1px 1px 2px rgba(255, 255, 255, .6); */
}

@supports (backdrop-filter: blur(1em)){
  .menu-mobile{
    background: hsla(0, 0, 100%, .1);
    backdrop-filter: blur(1em);
  }
}


.menu-mobile p{
  color: var(--gray-1);
  font-weight: 700;
  font-family: var(--font-principal);
  letter-spacing: .14rem;
  padding-left: 30px;
}

.menu-mobile ul{
  display: block;
  margin: 15px;
}

.menu-mobile li{  
  list-style: none;
  text-transform: uppercase;
  padding: 15px;
}

.menu-mobile a{
  color: var(--gray-1);
  text-decoration: none;
  font-family: var(--font-principal);

}

.ativa-menu{
  inset: 0 0 0 30%;
}

.viraBotaoMenu{
  transform: rotate(45deg);
  transition: transform 300ms;
  z-index: 4;
}

.viraBotaoMenu::before{
  transform: rotate(90deg);
  background-color: var(--red-7);
  top: 0;
}

.viraBotaoMenu::after{
  background-color: var(--red-7);
  top: 0;
}


@keyframes animaMenu{
  from{
    opacity: 0;
    transform: translateX(-100vw);
  }

  to{
    opacity: 1;
    transform: translateX(0vw);
  }
}




