.projetos{
  background: linear-gradient(to bottom, #b4ceda 60%, transparent 40%);
  padding: 50px;
}

.projetos-lista{
  display: flex;
  place-items: center;
  justify-content: center;
}


.secao-titulo{
  font-size: 35px;
  font-family: var(--font-principal);
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 50px;
}

.secao-titulo::after{
  content: '';
  width: 300px;
  height: 5px;
  background-color: var(--cor-botao);
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
}

.projetos-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* padding: 40px 10px; */
  gap: 15px;
  color: #FAFAFA;
  height: 550px;
  transition: transform 300ms;
  transform: scale(.95);
}

.projetos-conteudo h3{
  text-align: right;
  font-family: var(--font-principal);
  font-size: 25px;
  font-weight: 300;
}

.projetos-conteudo p{
  text-align: center;
  line-height: 1.7em;
  font-size: 14px;
  width: 40ch;
}


.projetos-imagem img{
  /* width: 250px; */
  height: 250px;
  object-fit: cover;
  object-position: left;
  /* padding: 6px; */
  /* border-radius: 20px; */
}


.projetos-conteudo button:hover{
  cursor: pointer;
  filter: brightness(0.9);
}


.fundo1{
  background-color: rgba(91, 111, 118, 1);
}

.fundo2{
  background-color: rgba(147, 181, 196, 1);
}

.fundo3{
  background-color: rgb(169, 196, 206);
}

.fundo5{
  background-color: rgb(174, 189, 196);
}

@media screen and (width < 900px) {


  
}



@media screen and (width < 768px) {
  .projetos-lista{
    flex-direction: column;
  }
}