.projetos{
  background: linear-gradient(to bottom, #d5f3ff 60%, transparent 40%);
  padding: 5rem 0;
}

.projetos-lista{
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  justify-content: center;
}


.secao-titulo{
  font-size: 35px;
  font-family: var(--font-secundaria);
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 100px;
}

.secao-titulo::after{
  content: '';
  width: 300px;
  height: 5px;
  background-color: var(--cor-botao);
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translate(-50%);
}

.projetos-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #FAFAFA;
  height: 600px;
  transition: transform 300ms;
  transform: scale(.95);
  transition: scale 300ms ease-out;
}

.projetos-conteudo:hover{
  scale: 1.03;
  box-shadow: 1px 1px 2px rgb(215, 215, 215);
}

.projetos-conteudo h3{
  text-align: right;
  font-family: var(--font-secundaria);
  font-size: 25px;
  font-weight: 300;
}

.projetos-conteudo p{
  display: flex;
  text-align: center;
  line-height: 1.7em;
  font-size: 14px;
  width: 40ch;
  font-family: var(--font-secundaria);
  line-height: 2rem;
  letter-spacing: .04rem;
  margin-bottom: 2rem;
}


.projetos-imagem img{
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.projetos-conteudo button{
  justify-self: flex-end;
}


.projetos-conteudo button:hover{
  cursor: pointer;
  filter: brightness(0.9);
}


.fundo1{
  background: linear-gradient(rgba(91, 111, 118, 1) 80%, rgb(153, 163, 166));
}

.fundo3{
  background: linear-gradient(rgb(133, 163, 175) 80%, rgb(178, 195, 203)) ;
}

/* .fundo3{
  background-color: rgb(167, 200, 212);
} */

.fundo5{
  background-color: rgb(174, 189, 196);
}


@media screen and (width < 768px) {
  .projetos-lista{
    flex-direction: column;
  }
}

@media screen and (width < 420px) {

  .projetos{
    margin: 0;
    padding: 50px 5px;
    height: auto;
  }

  .projetos-conteudo{
    height: auto;
    padding-bottom: 25px;
    width: 100%;
  }

  .projetos-imagem{
    width: 100%;
  }

  .projetos-imagem img{
    width: 100%;
  }

}

@media screen and (width < 300px) {
  .projetos-conteudo p{
    font-size: 12px;
  }
}