.sobre{
  background-color: var(--background-secao-2);
  margin: 0 21%;
}

.container-sobre{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px;
}

.imagem{

  max-width: 300px;
  position: relative;
  left: -100px;

}

.imagem img{
  width: 500px;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}

.conteudo-sobre{
  position: relative;
  border: 6px solid var(--cor-metade-background-secao-3);
  padding: 55px 15px 55px 125px;
}

.conteudo-sobre h2{
  color: black;
  font-size: 35px;
  font-family: var(--font-principal);
  font-weight: 300;
  margin-bottom: 45px;
}

.conteudo-sobre p{
  font-size: 14px;
  line-height: 1.7em;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (width < 1350px) {

  .imagem{
    padding: 0;
    margin: 0;
  }

  .imagem img{
    width: 400px;
    margin: 0 75px;
  }

  .conteudo-sobre{
    margin-right: -100px;
    
  }
  
}

@media screen and (width < 1100px) {
  .sobre img{
    width: 400px;
  }

  .conteudo-sobre h2{
    font-size: 1.6rem;
    width: 25ch;
  }
}

@media screen and (width < 965px) {

  .sobre{
    margin: 30px 10%;
    padding-bottom: 0;
    margin-bottom: 0;
  }


  .imagem{
    max-width: 200px;
    left: -160px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .conteudo-sobre{
    padding: 35px 5px 35px 125px;
    margin-right: -80px;
    
  }
  
}

@media screen and (width < 850px) {

  .sobre{
    margin: 0px 10%;
  }

  .imagem{
    margin: 0;
  }

}


@media screen and (width < 768px) {

  .sobre{
    margin: 0;
    width: 100%;
  }

  .container-sobre{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .imagem{
    /* width: 100%; */
    margin: 0 auto;
    /* border: 1px solid #333; */
    padding: 0;
    margin: 0;
    left: 0;
    max-width: 100%;
    padding: 10px;

  }

  .imagem img{
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .conteudo-sobre{
    margin: 0;
    padding: 120px 10px 10px 10px;
    margin: -110px 30px 10px 30px;
    
  }
  
}