@import url('./geral.css');
@import url('./main.css');
@import url('./sobre.css');
@import url('./habilidades.css');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-secundaria);
}

a:active,
a:visited{
  color: inherit;
}

li{
  list-style: none;
}